@import url("./styles.css");

.subscribe2 {
  background-color: white;
  width: 900px;
  height: 200px;
  display: flex;
  padding: 20px;
  border-radius: 12px;
}

.contentsubscribe {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}

.formsubscribe {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formsubscribe button {
  background: #db4a87;
  color: white;
  border: none;
  width: 90px;
  height: 40px;
}

.formsubscribe input[type="text"] {
  width: 240px;
  height: 40px;
  padding-left: 20px;
}

.before::before {
  content: url("/images/quote.png");
  position: absolute;
}

.contentsubscribe h1 {
  margin-bottom: 5px;
}

.parentblog {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.blogcontent {
  background-color: #fbf5f1;
  height: auto;
  width: 100%;
  margin: 20px;
  margin: 0 auto;
  display: block;
}

.blogimg1 {
  margin-top: 40px;
}

.boxblog1,
.boxblog2,
.boxblog3 {
  width: 300px;
  height: 500px;
}

.blogbox {
  margin-top: 40px;
}

.boxblog1 img {
  width: 100%;
}

.boxblog2 img {
  width: 100%;
}

.boxblog3 img {
  width: 100%;
}

.contenu11 {
  text-align: start;
  width: 400px;
}

.contenu1 h1 {
  margin-bottom: 20px;
}
@media (max-width: 970px) {
  .boxblog1 img {
    max-width: 500px;
  }

  .blogbox img {
    max-width: 500px;
  }

  .boxblog3 img {
    max-width: 500px;
  }

  .blogimg1 img {
    max-width: 500px;
  }
}
@media (max-width: 981px) {
  .parentblog {
    flex-direction: column;
  }

  #blog {
    height: auto;
  }

  .parentblog {
    height: auto;
  }

  .boxblog1,
  .boxblog2,
  .boxblog3 {
    width: 80%;
    height: auto;
  }

  .parentservice {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1256px) {
  #superheros {
    height: auto;
  }

  .teamparent {
    height: auto;
  }

  #services {
    height: auto;
  }
}

@media (max-width: 693px) {
  #superheros {
    height: auto;
  }

  .teamparent {
    height: auto;
  }
}

@media (max-width: 800px) {
  .content {
    text-align: center;
  }
}

@media (max-width: 770px) {
  header {
    height: 150px;
  }

  .subscribe2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .contentsubscribe {
    width: auto;
  }

  .formsubscribe {
    width: 100%;
  }
}

@media (max-width: 1499px) {
  #services {
    height: auto;
  }
}

@media (max-width: 1016px) {
  .workparent {
    flex-direction: column;
  }

  .workbox {
    width: 100%;
    text-align: center;
    height: auto;
  }

  .workimg {
    width: 100%;
  }

  .workimg img {
    margin: 0 auto;
    display: block;
    padding-top: 50px;
  }

  #work {
    height: auto;
  }

  #HeroSection {
    height: auto;
  }

  .verified {
    justify-content: center;
  }

  .explore {
    text-align: center;
  }
}

@media (max-width: 980px) {
  #SectionTwo {
    height: auto;
  }
}

@media (max-width: 426px) {
  /* .parentSectionTwo{
          flex-direction: column;
          background-color: red;
      } */

  .boximg {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .box01 {
    width: 100%;
    padding-top: 20px;
  }
}

@media (max-width: 1016px) {
  #work {
    height: auto;
  }

  .workimg {
    height: auto;
  }
}

/* End styling for Home Page and contact Page */

#herosection {
  height: 600px;
}

.parenthero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
}

.herobox {
  width: 50%;
  height: 500px;
}

.imgb img {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.boxc {
  padding-top: 60px;
}

.boxc h1 {
  color: #02073e;
  font-size: 40px;
  margin-bottom: 20px;
}

.boxc p {
  color: #02073e;
  margin-bottom: 20px;
}

.boxc button {
  background-color: #28ddb2;
  color: white;
  width: 120px;
  height: 40px;
  border: none;
  margin-bottom: 20px;
}

.socialmedia {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

#features {
  height: 600px;
  text-align: center;
}

#features h1 {
  color: #0f2137;
}

.parentfeatures {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxfeatures {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.featurepic {
  display: flex;
  align-items: flex-start;
}

.contenu11 p {
  padding-left: 60px;
}

#features2 {
  height: 500px;
  text-align: center;
  padding-top: 20px;
  height: 700px;
}

.parentfeatures1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box_img {
  background-color: white;
  width: 350px;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
}

.box_feature {
  margin-top: 20px;
  width: 400px;
}

.box_feature h1 {
  margin-bottom: 20px;
}

#plan {
  text-align: center;
  height: 600px;
}

.plan_2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verified {
  text-align: start;
}

.card_plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.plan {
  padding: 20px;
  text-align: start;
}

.title_1,
.title_2 {
  padding-left: 20px;
}

.plan button {
  margin: 0 auto;
  display: block;
  background-color: #fcf2e8;
  color: #ef9e48;
  padding: 12px 20px;
  border: none;
  font-weight: bolder;
  text-transform: capitalize;
}

.plan2 {
  border: 1px solid #28ddb2;
}

.parent-hero-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.box-section {
  flex-direction: column;
  width: 50%;
  height: 500px;
}

.box-section h1 {
  color: #0f2137;
  font-size: 30px;
  margin-bottom: 20px;
}

.box-section p {
  color: #02073e;
  margin-bottom: 20px;
}

.box-section input {
  width: 280px;
  height: 40px;
  padding-left: 12px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form button{
  margin-top: 12px;
}
.box-section button {
  width: 100px;
  height: 40px;
  padding-left: 12px;
  background-color: #28ddb2;
  color: white;
  border: none;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
form a{
  padding-left: 35px;
  
}
.boxi1 {
  padding: 4%;
}

.box-section img {
  margin: 0 auto;
  display: block;
}

.formu input {
  margin-bottom: 20px;
}

#meet {
  text-align: center;
}

#meet h1 {
  margin-bottom: 20px;
  color: #0f2137;
}

#meet p {
  color: #343d48;
  margin-bottom: 20px;
}

#meet img {
  max-width: 700px;
}

#testmonials {
  background-color: #fffcf7;
  text-align: center;
  padding-top: 50px;
}

#testmonials h1,
p {
  margin-bottom: 20px;
}

.testmonials-parent {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.testmonial {
  background-color: white;
  width: 400px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.first-col {
  flex-direction: column;
}

.second-col {
  flex-direction: column;
}

.author h5 {
  color: #4f96ff;
}
@media (max-width: 762px) {
  #meet img {
    max-width: 400px;
  }

  .formu input {
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .parent-hero-section {
    flex-direction: column;
  }

  .box-section {
    width: 100%;
    height: auto;
  }

  #hero-section {
    height: auto;
  }
}

@media (max-width: 500px) {
  .contenu11 p {
    padding-right: 60px;
  }

  .contenu11 {
    width: 100%;
  }
  .boximg img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 1165px) {
  .parenthero {
    flex-direction: column;
    width: 100%;
    margin-left: auto;
  }

  .herobox {
    width: 100%;
    height: auto;
  }

  .imgb img {
    margin: 0 auto;
    display: block;
  }

  .imgb {
    height: auto;
    width: 100%;
  }

  .boxc {
    text-align: center;
  }

  .socialmedia {
    justify-content: center;
    flex-wrap: w;
  }
  #herosection {
    height: auto;
  }

  #features {
    height: auto;
  }

  #features2 {
    height: auto;
  }

  #plan {
    height: auto;
  }
  #testmonials {
    height: auto;
  }

  .second-col,
  .first-col {
    height: auto;
  }

  .testmonials-parent {
    height: auto;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 477px) {
  .boxc h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
