@import url('/css/styles.css');

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 15%;
    height: 100%;
    object-fit: cover;
  }


  .serparent{
    display: flex;
    width: 90%;
    margin-left: 5%;
  }

  .serbox{
    width: 45%;

  }

  .serparent img{
    width: 80%;
    margin: 0 auto;
    display: block;
  }

 
  .x h1{
    margin-bottom: 15px;
  }

  .x{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .x p{
    line-height: 35px;
  }


  @media (max-width:700px){
    .serparent{
      flex-direction: column;
      margin-left: auto;
      width: 100%;
    }

    .serbox{
      width: 100%;
    }

    .x{
      text-align: center;
      align-items: center;
    }



  }

  @media (max-width:837px){
    
    .box1{
      display: none;
    }
  }